.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ccc;
  font-family: sans-serif;
  background: #1e1e2f;
  color: white;
}

.header {
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  font-size: 20px;
  font-weight: bold;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.password-input {
  width: 300px;
  height: 40px;
  margin-bottom: 20px;
  padding: 5px 10px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  text-align: center;
  background: #2c2c44;
  outline: none;
  color: #fff;
  transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.password-input:focus {
  background: #32324d;
  box-shadow: 0 0 2px 2px rgba(76, 110, 245, 0.7);
}

.length-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 0.95rem;
  margin-bottom: 20px;
}

.length-label {
  font-size: 16px;
}

.length-input {
  margin-left: 10px;
}

.length-control input[type="number"] {
  width: 60px;
  padding: 0.3rem;
  border-radius: 6px;
  border: none;
  text-align: center;
  font-size: 1rem;
}

.buttons {
  display: flex;
  gap: 10px;
}

.copied-msg {
  margin-top: 10px;
  color: #1c9220;
  font-weight: bold;
  font-size: 28px;
  opacity: 0;
  animation: fadeInOut 2s ease-in-out forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-5px);
  }
}
